body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  margin-bottom: 20px;
}

.logo {
  width: 700px;
  max-width: 90vw;
  height: 300px;
}


.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 18px;
  color: #34495e;
}

input[type="text"] {
  padding: 12px;
  width: 80%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: #219150;
}

.success {
  color: #27ae60;
  font-weight: 600;
}
